%h2 Advanced Search
- if flash[:warning]
  %ul.error
    - flash[:warning].each do |m|
      %li.error= m
%form{:action=>"/advanced_search_result", :method=>"get"}
  %ul
    %li
      %label{:for=>"query"} Query
      %input{:type=>"text", :name=>"query"}
    %li
      %label{:for=>"answer"} Answer
      %input{:type=>"text", :size=>"12", :name=>"answer"}
    %li
      %label{:for=>"maptype"} Query Type
      %select{:name=>"maptype"}
        %option{} ...
        - for m in @maptypes
          %option{:value=>"#{m}"} #{m}
    %li
      %label{:for=>"rr"} CLASS
      %select{:name=>"rr"}
        %option{} ...
        - for r in @rrs
          %option{:value=>"#{r}"} #{r}
    %li
      %label{:for=>"first_seen"} From (YYYY-MM-DD)
      %input{:type=>"text", :size=>"12", :name=>"first_seen"}
    %li
      %label{:for=>"last_seen"} To (YYYY-MM-DD)
      %input{:type=>"text", :size=>"12", :name=>"last_seen"}
  %input{:type=>"submit", :name=>"submit", :value=>"search"}
