%h2
  DNS QUERY List
  %span.simpletip{:title=>"Brief listing of 100 DNS QUERY latest first"}
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td First Seen
      %td
        Last Seen
        %span.simpletip{:title=>"Showing \"Same\" if equals to \"First Seen\" datetime"} &nbsp;
      %td DNS Query
      %td MAPTYPE
      %td DNS Answer
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for p in @items
    %tbody
      %tr{:class=>cycle}
        %td &nbsp;
        %td= p[:FIRST_SEEN].strftime("%b %d, %T")
        - if p[:FIRST_SEEN] == p[:LAST_SEEN]
          %td same
        - else
          %td= p[:LAST_SEEN].strftime("%b %d, %T")
        %td
          %a{:href=>"/q/#{p[:QUERY]}"}= p[:QUERY]
        %td= p[:MAPTYPE]
        %td
          %a{:href=>"/a/#{p[:ANSWER]}"}= p[:ANSWER]
        %td &nbsp;
