%h2 Listing(brief)
%table
  %tr
    %th First Seen
    %th Last Seen
    %th DNS Query
    %th MAPTYPE
    %th DNS Answer
  - for p in @pdns
    %tr
      %td= p[:FIRST_SEEN].strftime("%b %d, %T")
      - if p[:FIRST_SEEN] == p[:LAST_SEEN]
        %td same
      - else
        %td= p[:LAST_SEEN].strftime("%b %d, %T")
      %td= p[:QUERY]
      %td= p[:MAPTYPE]
      %td= p[:ANSWER]
