%h2 Search Result
- if @records.empty?
  .alert.alert-warning
    Oops, nothing found :(
- else
  .alert.alert-info
    #{@meta} &#39;#{@lookup}&#39;
    %span.badge.badge-info= number_with_delimiter(@records.pagination_record_count)
  %p= will_paginate(@records)
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Query
        %th &nbsp;
        %th CLASS
        %th Query Type
        %th Answer
        %th &nbsp;
        %th TTL
        %th
          First Seen
          %i.icon-info-sign{:rel=>"tooltip", :title=>"showing \"-\" if First Seen and Last seen are the same!"}
        %th Last Seen
        %th &nbsp;
    %tbody
      - for r in @records
        %tr
          %td
            - if r.QUERY.empty?
              &lt;blank&gt;
            - elsif r.QUERY.start_with?('xn--')
              %a{:href=>"/q/#{r.QUERY}"}= r.QUERY
              %span &#39;#{SimpleIDN.to_unicode(r.QUERY)}&#39;
            - else
              %a{:href=>"/q/#{r.QUERY}"}= r.QUERY
          %td= haml :action_menu, :locals => { :action_item => r.QUERY}
          %td= r.RR
          %td= r.MAPTYPE
          %td
            %a{:href=>"/a/#{r.ANSWER}"}= r.ANSWER
          %td= haml :action_menu, :locals => { :action_item => r.ANSWER }
          %td= r.TTL
          - if r.FIRST_SEEN == r.LAST_SEEN
            %td -
          - else
            %td.timestamp= r.FIRST_SEEN.strftime(settings.long_date_format)
          %td.timestamp= r.LAST_SEEN.strftime(settings.long_date_format)
  %p= will_paginate @records
