%h2 Search Results
%p
  Total found in database: #{@total_records}
  - if @total_records > 100
    (Only showing first 100 records!)
%table
  %thead
    %tr
      %td{:id=>"cornerLeft", :width=>"20"} &nbsp;
      %td First Seen
      %td Last Seen
      %td Query
      %td Query Type
      %td Answer
      %td{:id=>"cornerRight", :width=>"20"} &nbsp;
  %tbody
    - for r in @records
      %tr{:class=>cycle}
        %td &nbsp;
        %td= r[:FIRST_SEEN].strftime("%b %d, %T")
        %td= r[:LAST_SEEN].strftime("%b %d, %T")
        %td
          %a{:href=>"/q/#{r[:QUERY]}"}= r[:QUERY]
        %td= r[:MAPTYPE]
        %td
          %a{:href=>"/a/#{r[:ANSWER]}"}= r[:ANSWER]
        %td &nbsp;
