%h2
  Summary Page
  %i.icon-info-sign{:rel=>"tooltip", :title=>"This page needs work"}
.well
  %h3 Records in Database
  %span.label.label-info
    From
    %i.icon-time.icon-white
  #{@oldest_date}
  %br
  %span.label.label-info
    to
    %i.icon-time.icon-white
  #{@latest_date}
%hr
%hr
%hr
%p all below here needs work
%hr
%hr
%hr
%h3
  Top10 DNS Query
  %i.icon-info-sign{:rel=>"tooltip", :title=>"passivedns is caching, use Top10 list with caution!"}
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Address
      %th Total Queries
  %tbody
  - for i in @top_query
    %tr
      %td
        %a{:href=>"/q/#{i.QUERY}"}= i.QUERY
      %td= i[:count]
%h3
  Query Type
  %i.icon-info-sign{:rel=>"tooltip", :title=>"Overall distribution of Query Types"}
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Query Type
      %th Total
  %tbody
  - for i in @maptypes
    %tr
      %td 
        %a{:href=>"/t/#{i.MAPTYPE}"}= i.MAPTYPE
      %td= i[:count]
%h3
  NXDOMAIN
  %i.icon-info-sign{:rel=>"tooltip", :title=>"DNS Queries returning no answer aka NXDOMAIN"}
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Query
      %th Count
  %tbody
  - for i in @nxdomains
    %tr
      %td
        %a{:href=>"/q/#{i.QUERY}"}= i.QUERY
      %td= i[:count]
