%h2
  Summary Page
  %i.icon-info-sign{:rel=>"tooltip", :title=>"This page needs work"}
.well
  %h3 Records in Database
  #{@oldest_date}
  %br/
  #{@newest_date}
%hr
%hr
%hr
.alert.alert-error
  all below here needs work
%hr
%hr
%hr
%h3
  Top10 DNS Query
  %i.icon-info-sign{:rel=>"tooltip", :title=>"passivedns is caching, use Top10 list with caution!"}
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Address
      %th Total Queries
  %tbody
  - for i in @top_query
    %tr
      %td
        %a{:href=>"/q/#{i.QUERY}"}= i.QUERY
      %td= number_with_delimiter(i[:count])
%h3
  Query Type
  %i.icon-info-sign{:rel=>"tooltip", :title=>"Overall distribution of Query Types"}
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Query Type
      %th Total
      %th Percentage
  %tbody
  - for i in @maptype_group
    %tr
      %td 
        %a{:href=>"/t/#{i.MAPTYPE}"}= i.MAPTYPE
      %td= number_with_delimiter(i[:count])
      %td= number_to_percentage(i[:count].to_f / @counter * 100)
