%h2
  Summary
%ul
  %li
    Records available from: #{@latest_date} to #{@oldest_date}
%hr
%h3
  %span.simpletip{:title=>"Possible indication of fast-flux"}
    Top records with low TTL
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Count
      %td Query
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for i in @low_ttls
    %tbody
      %tr
        %td &nbsp;
        %td= i[:count]
        %td
          %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
        %td &nbsp;
%h3
  QTYPE
  %span.simpletip{:title=>"Overall distribution of Query Types"}
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Count
      %td Maptype
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for m in @maptypes
    %tbody
      %tr
        %td &nbsp;
        %td= m[:count]
        %td= m[:MAPTYPE]
        %td &nbsp;
