%h2 DNS Summary
%ul
  %li
    Latest Record: #{@latest_date}
  %li
    Oldest Available Record: #{@oldest_date}
%h3
  %span.simpletip{:title=>"Could be indication of fast-flux"}
    Top records with low TTL
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Count
      %td Query
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for i in @low_ttls
    %tbody
      %tr
        %td &nbsp;
        %td= i[:count]
        %td
          %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
        %td &nbsp;
%h3
  %span.simpletip{:title=>"Shows overall QUERYTYPE distribution"}
    QUERYTYPE distribution
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Count
      %td Maptype
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for m in @maptypes
    %tbody
      %tr
        %td &nbsp;
        %td= m[:count]
        %td= m[:MAPTYPE]
        %td &nbsp;
