.header-box
  .header-title
    %h2
      Summary Page
      %span.help{:title=>"This needs work!"} &nbsp;
  .well
    %h3 Records in Database
    %span.label.label-info
      From
      %i.icon-time.icon-white
    #{@oldest_date}
    %br
    %span.label.label-info
      to
      %i.icon-time.icon-white
    #{@latest_date}
%hr
%hr
%hr
%p all below here needs work
%hr
%hr
%hr
%h3
  Top10 DNS Query
  %span.help{:title=>"passivedns is caching, use Top10 list with caution!"} &nbsp;
%table.table.table-striped.table-condensed
  %thead
    %tr
      %td Address
      %td Total Queries
  %tbody
  - for i in @top_query
    %tr{:class=>cycle}
      %td
        %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
      %td= i[:count]
%h3
  Query Type
  %span.help{:title=>"Overall distribution of Query Types"} &nbsp;
%table.table.table-striped.table-condensed
  %thead
    %tr
      %td Query Type
      %td Total
  %tbody
  - for i in @maptypes
    %tr
      %td 
        %a{:href=>"/t/#{i[:MAPTYPE]}"}= i[:MAPTYPE]
      %td= i[:count]
%h3
  NXDOMAIN
  %span.help{:title=>"Query returning NXDOMAIN"} &nbsp;
%table.table.table-striped.table-condensed
  %thead
    %tr
      %td Query
      %td Count
  %tbody
  - for i in @nxdomains
    %tr
      %td
        %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
      %td= i[:count]
