%h2
  Summary
%ul
  %li
    Records available from: #{@latest_date} to #{@oldest_date}
%hr
%h3
  Top records with low TTL
  %span.help{:title=>"Possible indication of fast-flux"} &nbsp;
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Query
      %td Total Queries
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for i in @low_ttls
    %tbody
      %tr
        %td &nbsp;
        %td
          %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
        %td= i[:count]
        %td &nbsp;
%h3
  Query Type
  %span.help{:title=>"Overall distribution of Query Types"} &nbsp;
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Query Type
      %td Total
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for m in @maptypes
    %tbody
      %tr
        %td &nbsp;
        %td= m[:MAPTYPE]
        %td= m[:count]
        %td &nbsp;
