.header-box
  .header-title
    %h2
      Summary Page
      %span.help{:title=>"This needs work!"} &nbsp;
  .header-meta
    %p
      Records in Database
      %br
      #{@oldest_date} &lt;-&gt; #{@latest_date}
%hr
%hr
%hr
%p all below here needs work
%hr
%hr
%hr
%h3
  Top10 DNS Query
  %span.help{:title=>"passivedns is caching, use Top10 list with caution!"} &nbsp;
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Address
      %td Total Queries
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for i in @top_query
    %tbody
      %tr{:class=>cycle}
        %td &nbsp;
        %td
          %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
        %td= i[:count]
        %td &nbsp;
%h3
  Query Type
  %span.help{:title=>"Overall distribution of Query Types"} &nbsp;
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Query Type
      %td Total
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for m in @maptypes
    %tbody
      %tr{:class=>cycle}
        %td &nbsp;
        %td 
          %a{:href=>"/q/#{i[:MAPTYPE]}"}= i[:MAPTYPE]
        %td= m[:count]
        %td &nbsp;
%h3
  NXDOMAIN
  %span.help{:title=>"Query returning NXDOMAIN"} &nbsp;
%table
  %thead
    %tr
      %td{:id=>"cornerLeft",:width=>20} &nbsp;
      %td Query
      %td Count
      %td{:id=>"cornerRight",:width=>20} &nbsp;
  - for i in @nxdomains
    %tbody
      %tr{:class=>cycle}
        %td &nbsp;
        %td
          %a{:href=>"/q/#{i[:QUERY]}"}= i[:QUERY]
        %td= i[:count]
        %td &nbsp;
